<!-- comment_list.html -->
{% extends 'base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}
    <h2>Comments for Thread: {{ thread.title }}</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.created_by }}:</strong> {{ comment.content }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'forum:create_comment' thread.id %}">Add Comment</a> |
    <a href="{% url 'forum:thread_detail' thread.id %}">Back to Thread</a>
{% endblock %}